/* Custom styles */

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.header-divider,
.footer-divider {
  width: 100%;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: gray;
  opacity: 20%;
}

.mode-toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.cart-icon-container {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
}

.layout {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.cart-divider,
.cart-divider-less-margin {
  width: 100%;
  border: none;
  height: 1px;
  background-color: gray;
  opacity: 20%;
  margin: 30px 0;
}

.cart-divider-less-margin {
  margin: 10px 0;
}

.header-right-side-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desktop-nav {
  display: none;
  gap: 50px;
  align-items: center;
}

.mobile-nav {
  display: flex;
}

@media (min-width: 768px) {
  header .desktop-nav {
    display: flex;
    gap: 20px;
  }

  header .desktop-nav .nav-link {
    margin-right: 20px;
  }

  .desktop-nav {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }

  .cart-icon-container {
    order: 1;
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
