/* Custom styles */

body {
  min-height: 100vh;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: gray;
  opacity: 20%;
}

.mode-toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.cart-icon-container {
  margin-left: auto;
  margin-right: 30px;
}

.cart-icon {
  line-height: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
}
