/* Custom styles */

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header-divider {
  width: 100%;
}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: gray;
  opacity: 20%;
}

.mode-toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.cart-icon-container {
  margin-left: auto;
  margin-right: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
}

.layout {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.logo {
  text-decoration: none;
  color: inherit;
}
